//colors
$primary: #ffe600;
$secondary: #3483fa;
$secondary-hover: #2968c8;
$secondary-active: #1f4e96;
$shipping-brand: #00a650;
$white: #fff;
$black: #111;
$grey: #333;
$grey-two: #666;
$grey-ligth: #999;
$grey-light-two: #eee;

//shadows
$static-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

//breakpoints
$medium-breackpoint: 960px;
$large-breackpoint: 1260px;

//radius
$radius: 4px;

// gaps
$gap-small: 8px;
$gap-medium: 16px;
$gap-large: 32px;
