@import './shared';

* {
    outline: none;
}

#root {
    height: 100%;
    min-height: 100vh;
    background-color: $grey-light-two;
    padding-bottom: 32px;
}

.card {
    background-color: $white;
    box-shadow: $static-shadow;
    overflow: hidden;

    @media screen and (min-width: $medium-breackpoint) {
        border-radius: $radius;
    }
}
